<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <a href="/admin/new">Новый пользователь</a>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Почта</th>
            <th>Роли</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u, it : ${users}">
            <td class="col-1" th:text="${u.getId()}"></td>
            <td th:text="${u.getFirstName()}"></td>
            <td th:text="${u.getLastName()}"></td>
            <td class="col-1" th:text="${u.getAge()}"></td>
            <td th:text="${u.getUsername()}"></td>
            <td class="col-1" th:text="${u.rolesAsText()}"></td>
            <td class="col-1">
                <form th:method="get" th:action="@{/admin/{i}/edit(i=${u.getId()})}">
                    <input class="btn btn-info" type="submit" value="редакт."/>
                </form>
            </td>
            <td class="col-1">
                <form th:method="delete" th:action="@{/admin}">
                    <input type="hidden" name="id" th:value="${u.getId()}">
                    <input class="btn btn-danger" type="submit" value="удалить"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>