<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<th:block th:insert="fragments/base :: navbar(${user})"/>

<div class="container-fluid">
    <div class="row">

        <th:block th:insert="fragments/base :: sidebar(1)"/>

        <th:block th:insert="fragments/base :: table(${users})"/>

    </div>
</div>
</body>
</html>
