<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Панель администрирования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <p class="navbar-brand col-3 ms-2 mb-0 text-light" th:text="${user.username}"></p>
            <ul class="navbar-nav px-3">
                <li class="text-nowrap">
                    <a class="nav-link text-secondary" href="/logout">Выйти</a>
                </li>
            </ul>
        </nav>

        <div class="d-md-flex d-sm-block align-items-start mt-5">
            <div class="nav flex-md-column flex-sm-row nav-pills me-3" id="v-pills-tab" role="tablist">
                <button sec:authorize="hasRole('ADMIN')" class="nav-link active" id="v-pills-admin-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                        type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">
                    Админ
                </button>
                <button sec:authorize="hasRole('USER') or hasRole('ADMIN')" class="nav-link" id="v-pills-new-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-new"
                        type="button" role="tab" aria-controls="v-pills-new" aria-selected="false">
                    Пользователь
                </button>
            </div>
            <div class="tab-content mt-3 mt-md-0 w-100" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab" tabindex="0">
                    <h1>Панель администрирования</h1>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-list-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-list"
                                    type="button" role="tab" aria-controls="nav-list" aria-selected="true">
                                Таблица пользователей
                            </button>
                            <button class="nav-link" id="nav-new-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-new"
                                    type="button" role="tab" aria-controls="nav-new" aria-selected="false">
                                Новый пользователь
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-list" role="tabpanel"
                             aria-labelledby="nav-list-tab" tabindex="0">
                            <h3>Все пользователи</h3>
                            <th:block th:insert="fragments/all_users :: allUsers(${users})"/>
                        </div>
                        <div class="tab-pane fade" id="nav-new" role="tabpanel"
                             aria-labelledby="nav-new-tab" tabindex="0">
                            <h3>Добавить нового пользователя</h3>
                            <form th:method="post" th:action="@{/admin}" th:object="${newUser}">
                                <label for="fn" class="form-label font-weight-bold">Имя:</label>
                                <input id="fn" class="form-control" type="text" th:field="*{firstName}">
                                <br>
                                <label for="ln" class="form-label font-weight-bold">Фамилия:</label>
                                <input id="ln" class="form-control" type="text" th:field="*{lastName}">
                                <br>
                                <label for="age" class="form-label font-weight-bold">Возраст:</label>
                                <input id="age" class="form-control" type="number" th:field="*{age}">
                                <br>
                                <label for="mail" class="form-label font-weight-bold">Эл.почта:</label>
                                <input id="mail" class="form-control" type="email" th:field="*{username}">
                                <br>
                                <label for="pw" class="form-label font-weight-bold">Пароль:</label>
                                <input id="pw" class="form-control" type="password" th:field="*{password}">
                                <br>
                                <label for="role" class="form-label font-weight-bold">Пароль:</label>
                                <select id="role" class="form-select" size=2 multiple th:field="*{roles}">
                                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role}"/>
                                </select>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Добавить нового пользователя">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-new" role="tabpanel"
                     aria-labelledby="v-pills-new-tab" tabindex="0">
                    <h1>Информация о пользователе</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
</body>
</html>